@model SirketOtomasyonu.Data.Entities.Birim

@{
    Layout = null;
}

<div class="row">
    <div class="text-center m-3">
        <b>@Html.DisplayFor(model => model.Adi)</b>  birimini silmek istediğinize emin misiniz?
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="text-center">
            <input type="submit" value="Evet" class="btn btn-danger" />
        </div>
    </form>
</div>
