@{
    ViewData["Title"] = "Hakkımızda";
}



<h4>Hakkımızda</h4>
<hr />
<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-body">
                <p>
                    ecenin bitirme projesidir
                </p>
            </div>
        </div>
    </div>

</div>
